body,html, main {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;

    border: none;
    border-radius: 1px;

    margin-left: 1.5%;
    margin-top: 2%;

    box-shadow: 0 0 2em #444;

    padding: 1%;

    width: 14%;
    height: 300px ;
    
    position: relative;

    background-color: #09003a;

    padding: 2%;

    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 10pt;

    transition: 500ms;

}

.card:hover {

    margin-top: 1%;
    
    height: calc(auto - 1%);
}

.card .name {
    font-size: 14pt;
}

.card .info {
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;

    border-top: 0.2px solid #aaa;
    
}

.card img {
    
    width: 150px;
    height: 150px;

    border-radius: 50%;

    position: relative;

    margin-left:auto;
    margin-right:auto;

    display: block;
}

.title {
    font-size: 24pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.title h1 {
    margin-top: -10px;
}


/* 
    start screen complete info
*/

.completeInfo {
    width: 100%;
    padding: 3%;
}

.completeInfo .introduction {
    width: 90%;

    background-color: #09003a;

    padding: 5%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    color: #fff;

    border-radius: 2px;
}


.completeInfo .introduction:hover {

    transition: 200ms;
    
    background-color: #fff;
    
    color: #09003a !important;

    border: 1px solid #09003a;

}


.completeInfo img {
    max-width: 200px;
}

.completeInfo .info {
    width: 60%;
    margin-left: 10%;

    /* color: #fff; */

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.completeInfo {
    width: 90%;

    margin-left: 5%;

    font-size: 20pt;
    color: #333;
}


.social-networks {

    width: 100%;

    height: auto;

    position: relative;

    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.social-item {
    width: 30%;

    margin-left: 5%;

    max-width: 30%;
}

.social-item img {
    width: 100px;
    height: auto;
}

.githubApi {
    width: 50%;
}

.repositoryList div {
    font-size: 11pt; 

    margin-top: 2%;
}

.repositoryList button {
    padding: 10%;

    border: none;

    color: #fff;

    background-color: #09003a;

    cursor: pointer;
}

.repositoryList button {
    padding: 10%;

    border: none;

    color: #fff;

    background-color: #09003a;

    cursor: pointer;
}

.repositoryList button:hover {

    transition: 200ms;
    
    color: #09003a;
    
    background-color: #fff;

    border: 1px solid #09003a;

}

footer {
    width: 70%;
    position: relative;

    margin-left: 15%;
    margin-top: 5%;

    padding-top: 1%;
    padding-bottom: 2%;
    
    text-align: center;

    border-top: #222 solid 2px;
}

footer a {
    color: #0b0035;
    font-weight: bold;
    text-decoration: none !important;
}

footer .bi-github {
    color: #fff;
}

footer .btn-git {
    padding: 2px;

    background-color: #0b0035;
    border: none !important;
}

@media (max-width: 900px) {
    .card {
        width: 25%;
        margin-left: 2.5%;
    }

}

@media (max-width: 600px) {
    .card {
        width: 40%;
        margin-left: 4%;
    }
}

@media (max-width: 400px) {
    .title h1 {
        margin-top: 2%;

        font-size: 20pt;
    }

    .card {
        width: 90%;
        margin-left: 2.5%;
    }

    .introduction {
        width: 90%;

        padding: 1px;

        font-size: 12pt;
    }

    .social-networks {
        width: 100%;

        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;

        display: block;

        margin-left: auto;
        margin-right: auto;
    }

    .introduction img {
        width: 120px;
        
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .social-item img {
        width: 80px;
        height: auto;
    }
    
    .menu-complete-info h1 {
        font-size: 12pt;
        color: #333;
    }
    
    .menu-complete-info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
